  @keyframes go-left-right { 
    from {
      left: 0px;              
    }
    to {
      left: calc(100% - 450px); 
    }
  }

  .progress {
    -webkit-animation: go-left-right 6s infinite alternate;

    position: absolute;
    border: 2px solid black;
    width: 444px;
    height: 250px;
  }
   
